
<div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">
        <h1>Welcome to BW.<h1>
        <br/>
        <h2>Here you can track your fitness progress</h2>
        <h2>and share with friends!!</h2>
        <br/>
        <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
        <br /> <br />
    </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Get Motivated</h3>
    <br />
    <p>Enjoy daily motivational videos and Giphs to push you and brighten your day!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Train your own way and at your pace</h3>
    <br />
    <p>Sign up to access suggested trainings and see what your friends are trying!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Train with a community of like-minded individuals!</p>
  </div>
</div>
