@import "bootstrap";

.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #fff;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  }

  .navbar {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    box-shadow: 0px 1px 3px #2a2a2a;
    background: image_url('navBG.png');
  }
  
  .navbar-inverse a.navbar-brand {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    color: white;
  }

  .hero {
    background: image_url('work_harder.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 370px;
    box-shadow: 0px 3px 8px #2a2a2a;
    margin-top: 30px;
  }


  .frosty {
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .frosty h1 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  }
  
  .frosty h2 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  }

  body {
      background: image_url('scarlettBG.png');
  }

  .btn {
    border-radius: 0;
  }